<div class='row'>
	<div class='span12'>

		<h2>We like beer, so we made an app.</h2><br/>
		<p>Twelve weeks ago, we barely knew what a Ruby on Rails was.</p>
		<p>And today we have a Ruby on Rails app celebrating our love of beer.</p>
		<br/>
		<div class='teambeeron'>
			<h2>Meet Team BeerOn.</h2><br/>
			
			<% @teams.each do |team| %>
				<%= image_tag team.image, width: 250, alt: team.name if team.image.present? %>
				<br/><br/>
				<h3><%= team.name %></h3>
				<h4><%= team.description %></h4>
				<br/><br/>		
			<% end %>
			<br/><br/>
		</div>
	</div>
</div>