<div class='row'>
	<div class='span12'>

		<h2>We like beer, so we made an app.</h2><br/>
		<p>Twelve weeks ago, we barely knew what a Ruby on Rails was.</p>
		<p>And today we have a Ruby on Rails app celebrating our love of beer.</p>
		<br/>
		<div class='teambeeron'>
			<h2>Meet Team BeerOn:</h2><br/>
		
			<%= image_tag 'emily_in_color.jpg', width: 250, alt: 'Emily Ellison' %>
			<br/><br/>
			<h3>Emily Ellison</h3>
			<h4>Data Nerd.</h4>
			<br/><br/>
		
			<%= image_tag 'stella_in_color.jpg', width: 250, alt: 'Stella Fayman' %>
			<br/><br/>
			<h3>Stella Fayman</h3>
			<h4>Entrepreneurial rockstar.</h4>
			<br/><br/>
		
			<%= image_tag 'zak_in_color.jpg', width: 250, alt: 'Zak Boswell' %>
			<br/><br/>
			<h3>Zak Boswell</h3>
			<h4>UX Ninja.</h4>
			<br/><br/>
		
			<br/><br/>
			<h3>Fernando Diaz</h3>
			<h4>Code Detective.</h4>
			<br/><br/>
		
			<%= image_tag 'mike_in_color.png', width: 250, alt: 'Mike Ebert' %>
			<br/><br/>
			<h3>Mike Ebert</h3>
			<h4>Agile Scrum Master.</h4>
			<br/><br/>
		
			<br/><br/>
			<h3>Chad Hendry</h3>
			<h4>Programming Guru.</h4>
			<br/><br/>
		</div>
	</div>
</div>