<!-- what is goin on to the right of the three welcomebox's. i tried span 2+6+2 inside of span10 and it bumped the right box below and i tried 2+5+2 and it looks like there is a bunch of space to the right. need to figure out way to look better -->

<div class="row">
	<div class="span12">
		<h1>
		<center>Welcome to BeerOn!</center>
		</h1>
		<br/>
	</div>
	<div class='span12'>
		<div class="">
			<div class="span4 well welcomebox">
				<h2>Something</h2>
				<br/>
				<p>
				We built BeerOn to help you discover beers. We have solved the problem of complicated
				beers menus and poor recommendations from staff and bartenders. They don't know what you like!
				</p>
			</div>
			<div class="span4 well welcomebox">
		    <h2>Something</h2>
				<br/>	
				<p>
	 	    	Here's how it works:
	 			<p class=" "><u><strong>Step 1:</strong></u> <%= link_to 'Start', location_url %> by letting us know <strong>which bar you're at</strong>.</p>
				<p class=" "><u><strong>Step 2:</strong></u> Next let us know <strong>what you're in the mood for</strong> by toggling through style, draft, rarity, and characteristics.</p>
				<p class=" "><u><strong>Step 3:</strong></u> Click through your personal recommendations from us.</p>
		    	</p>
			</div>
			<div class="span4 well welcomebox">
				<h2>Something</h2>
				<br/>
				<p>
				We are constantly adding new bars so please let us know any that you want us to add.
				Send us a *message our *tweet at us with your experiences and feedback.
				</p>
			</div>
		
		</div>
	</div>	
</div>		
