<div class='center hero-unit'>
	<h2>Welcome to BeerOn.</h2>
	<br/>
	<p>
		Built for beer lovers and beer explorers. BeerOn was designed to
		help you find the perfect beer based on where you are and what
		you're in the mood for.
	</p>
	<p>
		How does it work? Hit <%= link_to 'Start', location_url %>. Tell us 
		<strong>which bar you're at</strong>, so we can recommend from 
		their beer menu. Then, tell us <strong>what you're in the mood 
		for</strong>. You can choose style. You can choose characteristics. 
		You can choose to only be recommended draft beers. And our favorite 
		part - you can order your choices by rarity - or how hard to find
		a beer is based on your location - to maximize your beer discovery 
		experience.
	</p>
	<p>
		Once you've made your choices, BeerOn will recommend you THE beer 
		that matches all your requirements, and if you're really lucky - 
		maybe even several beers.
	</p>
	<p>
		So go ahead. <%= link_to 'Get your BeerOn.', location_url %>
	</p>
</div>