<!-- what is goin on to the right of the three welcomebox's. i tried span 2+6+2 inside of span10 and it bumped the right box below and i tried 2+5+2 and it looks like there is a bunch of space to the right. need to figure out way to look better -->

<div class="row">
	<div class="span10 offset1">
		<div class="well">
			<h1>
			Welcome to BeerOn!
			</h1>
			<br/>
			<p>
			Built for beer lovers and beer explorers. BeerOn was designed to help you find 
			the perfect beer based on which bar you're at and what you're looking for.
			</p>	
		</div>
	</div>
</div>
	

<div class="row">	
	<div class="span6 offset1">
		<div class="well">
		  <h2>Here's how it works:</h2>
			<br/>	
	 		<p><u><strong>Step 1:</strong></u> <strong><%= link_to 'Start', location_url %></strong> by letting us know <strong>which bar you're at</strong>.</p>
			<p><u><strong>Step 2:</strong></u> Next let us know <strong>what you're in the mood for</strong>.</p>
			<p><u><strong>Step 3:</strong></u> Scroll through our recommendations.</p>
		</div>
	</div>	
	<div class="mobile homepicture">
		<%= link_to image_tag("glowing_beer.jpg", class: 'span4'), location_url%>
	</div>
</div>



<div class="row">
	<div class="span10 offset1">
		<div class="well">
			<h2>Membership Benefits</h2>
			<br/>
				<p>
					Visit our <strong><%= link_to "Sign Up", sign_up_url%></strong> page to become a 
					BeerOn member.  Once you've created an account, you can rate beers and view the 
					beers you've rated.
				</p>
		</div>
	</div>		
</div>
