<!-- what is goin on to the right of the three welcomebox's. i tried span 2+6+2 inside of span10 and it bumped the right box below and i tried 2+5+2 and it looks like there is a bunch of space to the right. need to figure out way to look better -->

<div class="row">
	<div class="span10 offset1">
		<div class="well">
			<h1>
			Welcome to BeerOn!
			</h1>
			<br/>
			<h5>
			We built BeerOn to help you discover beers. BeerOn was designed to recommend
			you the perfect beer based on which bar you are at and what you are looking for.
			</h5>	
		</div>
	</div>
</div>
	

<div class="row">	
	<div class="span6 offset1">
		<div class="well">
		    <h2>Here's how it works:</h2>
			<br/>	
	 		<p><u><strong>Step 1:</strong></u> <%= link_to 'Start', location_url %> by letting us know <strong>which bar you're at</strong>.</p>
			<p><u><strong>Step 2:</strong></u> Next let us know <strong>what you're in the mood for</strong>.</p>
			<p><u><strong>Step 3:</strong></u> Click through your personal recommendations from us.</p>
		</div>
	</div>	
	<div class="span4">
		<div class="mobile homepicture">
			<%= link_to image_tag("glowing_beer.jpg", width: 250), location_url%>
		</div>
	</div>
</div>



<div class="row">
	<div class="span10 offset1">
		<div class="well">
			<h2>Membership Benefits</h2>
				<p>
					All you have to do is create an account in the <%= link_to "Sign Up", sign_up_url%>. Once you have 	created an account, you will be able to rate beers and view the beers that you have rated.
				</p>
		</div>
	</div>		
</div>
