<!-- what is goin on to the right of the three welcomebox's. i tried span 2+6+2 inside of span10 and it bumped the right box below and i tried 2+5+2 and it looks like there is a bunch of space to the right. need to figure out way to look better -->

<div class="row">
	<div class="span12">
		<div class="hero-unit">
		<h1>
			<center>Welcome to BeerOn!</center>
		</h1>
				<h5 class="span8 offset2">
				<center>We built BeerOn to help you discover beers. BeerOn was designed to recommend
						you the perfect beer based on which bar you are at and what you are looking for.</center>
				</h5>
		</div>		
	</div>

		<div class="span8 well">
		    <h2>Here's how it works:</h2>
			<br/>	
	 			<p class=" "><u><strong>Step 1:</strong></u> <%= link_to 'Start', location_url %> by letting us know <strong>which bar you're at</strong>.</p>
				<p class=" "><u><strong>Step 2:</strong></u> Next let us know <strong>what you're in the mood for</strong> by toggling through style, draft, rarity, and characteristics.</p>
				<p class=" "><u><strong>Step 3:</strong></u> Click through your personal recommendations from us.</p>
		</div>
		<div class="span3">
			<%= link_to image_tag("glowing_beer.jpg", width: 200) %>
		</div>
		
		
	

	<div class="span12 well">
	<h2>Membership Benefits</h2>
		<p>
		All you have to do is create an account in <%= link_to "Sign Up", sign_up_url%>. Once you have created an account, you will be able to rate beers and view the beers that you have rated.
		</p>
	</div>
</div>		
