<div class='left'>
	<h2>Sign In</h2>
	<form>
		<div class='fields'>
			<label>E-mail</label>
			<input></input>
			<label>Password</label>
			<input type='password'></input>
		</div>
		<br/>
		<input type='submit' class='button' value='Sign up!'></input>
	</form>
	<p>
		Already a member?
		<a href='#'>
			Sign in!
		</a>
	</p>
</div>
<div class='right'>
	<img alt="Beer" src="/assets/three_champion.jpg" width="400" class='photo'/></a>
</div>