<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome to BeerOn, <%= @member.name %></h1>
    <p>
      Get ready to discover the best in local brews! 
      Your username is: <%= @member.email %>.<br/>
    </p>
    
    <p>Thanks for joining...now go get your BeerOn!</p>
  </body>
</html>