<!DOCTYPE html>
<html>
  <body style='font-family:arial; margin:20px auto; width:960px;'>
    <h1 style='font-size:20px; color:#BF4D28;'>Welcome to BeerOn, <%= @member.name.split(' ').first %>!</h1>
		<br/>
    <div style='font-size:15px'>
			<p>
				Thanks for joining us on the road to beer discovery!
			</p>
			<p>
				We hope to help you find the beers you'll love and discover new beers along the way.
	    </p>
			<% if @member.id <= 50 %>
				<p>
					Because you are the <%= @member.id.ordinalize %> person to join the BeerOn community,
					you've just won a <span style='font-weight:bold;color:#BF4D28'>free beer</span>
					at Moe's Cantina!
				</p>
				<p>
					So stop at 
					<a style='text-decoration:none;color:#05c;' href='http://www.moescantina.com/'>
						Moe's Cantina
					</a> now. 
					Show them this e-mail. And enjoy a free tasty beverage.
				</p>
			<% else %>
				
			<% end %>
			<p>
				It's a pleasure to have you join us.
			</p>
			<p>
				Now go out there. And get your <a style='text-decoration:none;color:#05c;' href='http://beeron.herokuapp.com/location'>BeerOn</a>.
			</p>
			<br/>
			<h2 style='font-size:20px; font-weight:bold;'>
				<a style='text-decoration:none;color:#05c;' href='http://beeron.herokuapp.com/about'>-Team BeerOn</a>
			</h2>
			<p style='margin:-10px 0px'>
				<a style='text-decoration:none;color:#05c;' href='https://twitter.com/#!/BeerOn2012'>@BeerOn2012</a>
			</p>
		</div>
  </body>
</html>