<h2>Contact Us</h2>
<div class='left'>
	<p>Tell us how we can improve your beer discovery experience.</p>
	<form>
		<div class='fields'>
			<label>First Name</label>
			<input></input>
			<label>Last Name</label>
			<input></input>
			<label>E-mail Address</label>
			<input></input>
			<label>Message</label>
			<textarea rows='12'></textarea>
		</div>
		<br/>
		<input type='submit' class='button' value='Send'></input>
	</form>
</div>
<div class='right'>
		<img alt="Beer" src="/assets/three_champion.jpg" width="400" class='photo'/></a>
</div>