<div id='bar_location_form'>
	<%= form_tag root_url, method: :get, remote: :true do %>
		<%= collection_select(:keyword, :bar_id, Bar.all, :id, :name, include_blank: true) %><br/>
	<% end %>
	<% if params[:keyword].present? %>
		<%= link_to 'Beer Me', beers_url(:bar_id => params[:keyword][:bar_id]) %>
	<% else %>
		<%= link_to 'Beer Me', root_url  %>
	<% end %>
</div>