<h2>Get your BeerOn in Chicago.</h2>
<p>Tell us which bar you're at and we'll recommend you a beer.</p>

<div id='bar_location_form'>
	<%= form_tag pass_location_url do %>
		<%= text_field_tag :keyword %>
		<%= submit_tag 'Beer Me', class: 'btn btn-large btn-primary' %>
	<% end %>
</div>