<h2>What are you in the mood for?</h2>
<p>
	Choose your beer style, characteristics, and options, and we'll
	recommend you a beer that matches your preferences.
</p>
<%= render 'beer_me/beer_me_form' %>