<div class='row'>
	<div class='span12'>
		<div class='pull-left'>
			<h2>What are you in the mood for?</h2>
		</div>
	</div>
</div>
<br/>
<div class='row'>
	<div class='span12'>
		<p>
			Select your beer style and the characteristics you're looking for.
		</p>
	</div>
</div>

<!-- <p>
	Pro Tips:
</p>
<li>
	Choose rarity to be recommended the hardest-to-find, or hipster-edition beers, first. 
</li>
<li>
	Select draft to only be recommended beers that are served on draft.
</li> -->

<%= render 'beer_me/beer_me_form' %>