<h2>What are you in the mood for?</h2>

<div class='column'>
	<h3>Style</h3>
	<select>
		<option value='IPA'>IPA</option>
	</select>
</div>
<div class='column'>
	<h3>Characteristics</h3>
</div>
<div class='column'>
	<h3>Extras</h3>
	<input class='button' value='Drink Local'></input>
	<input class='button' value='Hipster Edition'></input>
	<input class='button' value='Cheap'></input>
</div>


