<h2>Rate your Beer</h2>
<h3>Left Hand Milk Stout</h3>
<div class='left'>
	<form>
		<div class='fields'>
			<label>Rating</label>
			<select>
				<option value=''></option>
				<option value='1 star'>1 star</option>
				<option value='2 stars'>2 stars</option>
				<option value='3 stars'>3 stars</option>
				<option value='4 stars'>4 stars</option>
				<option value='5 stars'>5 stars</option>
			</select>
			<label>Smell</label>
			<textarea rows='2'></textarea>
			<label>Look</label>
			<textarea rows='2'></textarea>
			<label>Taste</label>
			<textarea rows='2'></textarea>
			<label>Feel</label>
			<textarea rows='2'></textarea>
			<label>Overall</label>
			<textarea rows='2'></textarea>
		</div>
		<br/>
		<input type='submit' class='button' value='Rate'></input>
	</form>
</div>
<div class='right'>
		<img alt="Beer" src="/assets/three_champion.jpg" width="400" class='photo'/></a>
</div>