.content {
	h2 {
		font-size:25px;
		font-weight:bold;
		padding:20px 0px;
	}
	h3 {
		font-size:20px;
		font-weight:bold;
		padding:10px 0px;
	}
	.left {
		float:left;
		width:450px;
	}
	.right {
		float:left;
	}
	p, li {
		padding:5px 0px;
		font-size:16px;
	}
	.fields {
		input {
			width:200px;
			font-size:16px;
		}
	}
	.column {
		float:left;
		padding:0px 40px 0px 0px;
	}
	.floor {
		width:500px;
		.button {
			background-image: -webkit-linear-gradient(top, brown, darkred);
			border:1px solid brown;
		}
	}
	form {
		line-height:10px;
		margin:20px 0px;
		input {
/*			padding:5px;
			border-radius:4px;*/
		}
		input, label, textarea, select {
			display:block;
			padding:5px 5px;
			font-size:16px;
		}
		textarea {
			width:200px;
			border-radius:4px;
		}
		#rarity_true, #rarity_false, #draft_true, #draft_false {
			font-size:16px;
			padding:5px 15px;
			display:block;
			width:100px;
			margin-bottom:20px;
		}
	}

	.status_date {
		color:grey;
	}
	.photo {
		padding:10px 0px;
	}
	.edit {
		font-weight:normal;
		font-size:16px;
	}
}