
/*changed all well background colors to lighter shade of beeron orange color with .well override at bottom
 and variable of $beeroncontent where you can use the fourth value (or "A" value) to adjust opacity*/

[class^="icon-"], [class*=" icon-"] {  
    background-repeat: no-repeat;
		background-image: url("/assets/glyphicons-halflings.png");
    display: inline-block;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    width: 14px;
}

.recommend {
	padding-left: 20%;
	padding-right: 20%;
}

.homepicture {
 /*	margin-top: 10%;
	margin-bottom: 10%;
	background-color: #f5f5f5;
  	border: 1px solid #eee;
  	border: 1px solid rgba(0, 0, 0, 0.05);
  	-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
}


.clearfix {
    *zoom: 1;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

.welcomebox {
/*	height: 250px;*/
	padding: 6px;
	margin:0px 3px 0px 3px;
	height:250px;
/*	margin:0px 0px;*/
}

.welcomeback {
	background: lightgrey;
	padding: 5px;
/*	margin: 5px;*/
}
	
.btn2 a {
	font-size: 30px; 
}


/*Above is new overrides*/

/* Just testing changes, making sure commits are up-to-date */


/*coloring schemes*/
/*current color scheme: colourlovers: "Headache"*/
$text: #0E00D1;/*on theme: #80BCA3 but trying to make blue pop*/
$buttonborder: #E6AC27;
$buttonbody: #FFE999;
$lineborder: #655643;
$beerontitle: #BF4D28;
$beerongradient: #A14020;
$beeroncontent: rgba(255, 210, 138, 0.4);
$userid: white; /*#80BCA3*/
/*borders and sizes*/
$buttonpx: 2px;
$apptitle:white;
/*shape formatting mixin*/
@mixin buttonformat {
	margin: 5px 20px;
	padding: 5px 20px;
	background: $buttonbody;
	border: $buttonpx solid $buttonborder;
	border-radius: 10px;
	text-decoration:none;
	color: $text;
}
@mixin navfooterline {
	font-size: 20px;
	font-weight: bold;
	border-top: 3px solid $lineborder;
	border-bottom: 3px solid $lineborder;
	padding: 15px;
}
.navbar-fixed-top {
	.navbar-inner {
		background:-linear-gradient(top, $beerontitle, $beerongradient);
		background:-ms-linear-gradient(top, $beerontitle, $beerongradient);
		background:-o-linear-gradient(top, $beerontitle, $beerongradient);
		background:-moz-linear-gradient(top, $beerontitle, $beerongradient);
		background:-webkit-linear-gradient(top, $beerontitle, $beerongradient);
		border-bottom:1px $lineborder solid;
		header {
			a {
				text-shadow: 0 0 5px black;
				text-decoration:none;
				color:white;
			}
			/*Contains the BeerOn title and the "User_Name"*/
			.beeronhead { 
				margin: 10px -10px;
				#apptitle {	
					font-size:45px;
					font-weight:bold;
					color: $apptitle;
				}
				#userid {
				/*	float: right;*/
					margin:5px 0px;
					font-size: 25px;
					color: $userid;
				}
				.dropdown-menu {
					a {
						font-weight:bold;
						color:#333;
						text-shadow:0px 0px 0px rgba(0,0,0,0);
					}
					li:hover {
						a {
							color:white;
						}
					}
				}
				.non_signed_in_user {
					a {
						font-size:25px;
					}
				}
			}
			.beeronmenu {
				margin:0px -10px;
				font-size:20px;
			}

			.beer_progress {
				background:white;
				margin:-5px 0px 10px;
				padding:0px -25px;
				box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5);
				ul {
					list-style:none;
					
					li {
						line-height:35px;
						font-size:17px;
					}
					.span4 {
						margin-left:0px;
						
					}
					.span3 {
						margin-right:0px;
					}
					a {
						font-weight:bold;
						color:#a9a9a9;
						text-shadow:0px 0px 0px rgba(0,0,0,0);
						
					}
					a:hover {
						color:#08C;
					}
					.active {
						color:#08C;
						font-weight:bold;
						text-shadow:0px 0px 0px rgba(0,0,0,0);
					}
					span {
						font-weight:bold;
						text-shadow:0px 0px 0px rgba(0,0,0,0);
					}
				}
			}
		}
	}
}
.navbar-fixed-bottom {
	.navbar-inner {
		background:-linear-gradient(bottom, $beerontitle, $beerongradient);
		background:-ms-linear-gradient(bottom, $beerontitle, $beerongradient);
		background:-o-linear-gradient(bottom, $beerontitle, $beerongradient);
		background:-moz-linear-gradient(bottom, $beerontitle, $beerongradient);
		background:-webkit-linear-gradient(bottom, $beerontitle, $beerongradient);
		border-bottom:1px $lineborder solid;
		footer {
			a {
				font-size: 20px;
				text-shadow: 0 0 5px black;
				text-decoration:none;
				color:white;
			}
		}
	}
}

.body_of_beeron {
	height:100%;
	margin:125px 0px 0px 0px;
	.hero-unit {
		background:$buttonbody;
		border:1px #FFDB59 solid;
		box-shadow:2px 2px 1px rgba(0, 0, 0, 0.25);
	}
	a {
		text-decoration:none;
	}
	p, li {
		font-size:16px;
	}
	li {
		margin:6px 0px;
	}
	.member_info {
		padding-right:300px;
		.gravatar {
			border-radius:8px;
			box-shadow:2px 2px 1px rgba(0, 0, 0, 0.25);
			border:1px solid lightgrey;
		}
	}
	.ratings {
		padding-right:100px;
	}
	form {
		line-height:10px;
		margin:20px 0px;
		input, label, textarea, select {
			display:block;
			font-size:16px;
		}
		textarea {
			width:200px;
			border-radius:4px;
		}

		.submit_links {
		position:absolute; bottom:0;
		}


	}
	#rarity_true, #rarity_false, #draft_true, #draft_false {
		padding:5px 0px;
		display:block;
		margin:0px 0px;

		font-size:16px;
	
	}
	.teambeeron {
		img {
			border-radius:8px;
			box-shadow:2px 2px 1px rgba(0, 0, 0, 0.25);
			border:1px solid lightgrey;
		}
	}
	.beer_carousel {
		color:ghostwhite;
		background:-webkit-linear-gradient(bottom, #1f1f1f, #272829);
		background:-moz-linear-gradient(top, #1f1f1f, #272829);
		background:-ms-linear-gradient(top, #1f1f1f, #272829);
		background:-o-linear-gradient(top, #1f1f1f, #272829);
		background:-linear-gradient(top, #1f1f1f, #272829);
		border-radius:8px;
		.span4 {
			padding:50px 0px;
			h1, h2 {
				line-height:20px;
			}
			h1 {
				font-size:20px;
			}
			h2 {
				font-size:16px;
			}
			p, li {
				line-height:15px;
				font-size:15px;
			}
			img {
				margin:0px 7px;
				border-radius:8px;
				box-shadow:2px 2px 1px rgba(0, 0, 0, 0.25);
				border:1px solid darkbrown;
			}
		}
		.beer_information {
			margin:0px 7px;
			img {
				margin:0px -3px 7px;
			}
		}
		.span1 {
			margin:270px 0px 0px 0px;
			a {
				font-size:16px;
			}
		}
	}
	.beer_me_button {
			padding:15px 0px;
			margin:0px 0px;
			font-weight:bold;
			font-size:20px;
		
	}
	.carousel-inner {
		background:-webkit-linear-gradient(bottom, #1f1f1f, #272829);
		background:-moz-linear-gradient(top, #1f1f1f, #272829);
		background:-ms-linear-gradient(top, #1f1f1f, #272829);
		background:-o-linear-gradient(top, #1f1f1f, #272829);
		background:-linear-gradient(top, #1f1f1f, #272829);
		border-radius:8px;
	}
	.grey {
		color:#a9a9a9;
		font-weight:normal;
		i {
			margin:1px 0px;
		}
	}
	.rating_score_on_profile i {
		margin:4px 0px;
	}
}

.homepicture {
	a {	
		
		img {
			border-radius:4px;
		}
	}
}



@media only screen and (max-width:480px) {	
	.beer_carousel .span1 {
		width: 0px;
	}
	
}

@media only screen and (min-width:980px) {
	.homepicture {
		margin-top: 0px;
		margin-left: 20px;
		img {
			height:195px;
		}	
	}
	
}

@media only screen and (max-width:980px) {
	.body_of_beeron {
		margin:0px 0px 0px 0px;
	}
	.homepicture {
		margin-top: 0px;
		img {
			height:233px;
		} 
	}
}

/*@media only screen and (max-width:) {
	.beer_text {
		background:pink;
	}
}*/

@media only screen and (min-width:1200px) {
	
	.homepicture {
		margin-top: -5px;
		margin-left: 40px;
		img {
			height:178px;
		}
	}
}

/*things to not display on mobile will have a class of mobile added
possible ideas or this are:
the beer picture in jcarousel
maybe footer
maybe larger buttons for somethings
check herokuapp
*/
@media only screen and (max-width:768px) {	
	.mobile {
		display: none;
	}
}

/*.hero-unit {
  background-color: $beerongradient;
}*/

.well {
  background-color: $beeroncontent;
}
	
