	
.btn2 a {
	font-size: 30px; 
}


/*Above is new overrides*/

/* Just testing changes, making sure commits are up-to-date */


/*coloring schemes*/
/*current color scheme: colourlovers: "Headache"*/
$text: #0E00D1;/*on theme: #80BCA3 but trying to make blue pop*/
$buttonborder: #E6AC27;
$buttonbody: #FFE999;
$lineborder: #655643;
$beerontitle: #BF4D28;
$beerongradient: #A14020;
$userid: white; /*#80BCA3*/
/*borders and sizes*/
$buttonpx: 2px;
$apptitle:white;
/*shape formatting mixin*/
@mixin buttonformat {
	margin: 5px 20px;
	padding: 5px 20px;
	background: $buttonbody;
	border: $buttonpx solid $buttonborder;
	border-radius: 10px;
	text-decoration:none;
	color: $text;
}
@mixin navfooterline {
	font-size: 20px;
	font-weight: bold;
	border-top: 3px solid $lineborder;
	border-bottom: 3px solid $lineborder;
	padding: 15px;
}
.navbar-fixed-top {
	.navbar-inner {
		background:-linear-gradient(top, $beerontitle, $beerongradient);
		background:-ms-linear-gradient(top, $beerontitle, $beerongradient);
		background:-o-linear-gradient(top, $beerontitle, $beerongradient);
		background:-moz-linear-gradient(top, $beerontitle, $beerongradient);
		background:-webkit-linear-gradient(top, $beerontitle, $beerongradient);
		border-bottom:1px $lineborder solid;
		header {
			a {
				text-shadow: 0 0 5px black;
				text-decoration:none;
				color:white;
			}
			/*Contains the BeerOn title and the "User_Name"*/
			.beeronhead { 
				margin: 10px -10px;
				#apptitle {	
					font-size:45px;
					font-weight:bold;
					color: $apptitle;
				}
				#userid {
				/*	float: right;*/
					margin:5px 0px;
					font-size: 25px;
					color: $userid;
				}
				.dropdown-menu {
					a {
						font-weight:bold;
						color:#333;
						text-shadow:0px 0px 0px rgba(0,0,0,0);
					}
				}
				.non_signed_in_user {
					a {
						font-size:25px;
					}
				}
			}
			.beeronmenu {
				margin:0px -10px;
				font-size:20px;
			}

			.beer_progress {
				background:white;
				margin:-5px 0px 10px;
				padding:0px -25px;
				box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5);
				ul {
					list-style:none;
					
					li {
						line-height:35px;
						font-size:17px;
					}
					.span4 {
						margin-left:0px;
						
					}
					.span3 {
						margin-right:0px;
					}
					a {
						font-weight:bold;
						color:#a9a9a9;
						text-shadow:0px 0px 0px rgba(0,0,0,0);
						
					}
					a:hover {
						color:#08C;
					}
					.active {
						color:#08C;
					}
				}
			}
		}
	}
}
.navbar-fixed-bottom {
	.navbar-inner {
		background:-linear-gradient(bottom, $beerontitle, $beerongradient);
		background:-ms-linear-gradient(bottom, $beerontitle, $beerongradient);
		background:-o-linear-gradient(bottom, $beerontitle, $beerongradient);
		background:-moz-linear-gradient(bottom, $beerontitle, $beerongradient);
		background:-webkit-linear-gradient(bottom, $beerontitle, $beerongradient);
		border-bottom:1px $lineborder solid;
		footer {
			a {
				font-size: 20px;
				text-shadow: 0 0 5px black;
				text-decoration:none;
				color:white;
			}
		}
	}
}

.body_of_beeron {
	height:100%;
	margin:125px 0px 0px 0px;
	.hero-unit {
		background:$buttonbody;
		border:1px #FFDB59 solid;
		box-shadow:2px 2px 1px rgba(0, 0, 0, 0.25);
	}
	a {
		text-decoration:none;
	}
	p, li {
		font-size:16px;
	}
	li {
		margin:6px 0px;
	}
	.member_info {
		padding-right:300px;
		.gravatar {
			border-radius:8px;
			box-shadow:2px 2px 1px rgba(0, 0, 0, 0.25);
			border:1px solid lightgrey;
		}
	}
	.ratings {
		padding-right:100px;
	}
	form {
		line-height:10px;
		margin:20px 0px;
		input, label, textarea, select {
			display:block;
			font-size:16px;
		}
		textarea {
			width:200px;
			border-radius:4px;
		}
		#rarity_true, #rarity_false, #draft_true, #draft_false {
			font-size:16px;
			padding:5px 15px;
			display:block;
			width:100px;
			margin-bottom:20px;
		}
		.submit_links {
		position:absolute; bottom:0;
		}
		#reset_style, #reset_characteristics {
			font-size:16px;
			margin-left:5px;
			font-weight:normal;
			a {
				
			}
		}
	}
	.teambeeron {
		img {
			border-radius:8px;
			box-shadow:2px 2px 1px rgba(0, 0, 0, 0.25);
			border:1px solid lightgrey;
		}
	}
	.beer_carousel {
		color:ghostwhite;
		background:-webkit-linear-gradient(bottom, #1f1f1f, #272829);
		background:-moz-linear-gradient(top, #1f1f1f, #272829);
		background:-ms-linear-gradient(top, #1f1f1f, #272829);
		background:-o-linear-gradient(top, #1f1f1f, #272829);
		background:-linear-gradient(top, #1f1f1f, #272829);
		border-radius:8px;
		.span4 {
			padding:50px 0px;
			h1, h2 {
				line-height:20px;
			}
			h1 {
				font-size:20px;
			}
			h2 {
				font-size:16px;
			}
			p, li {
				line-height:15px;
				font-size:15px;
			}
			img {
				margin:0px 7px;
				border-radius:8px;
				box-shadow:2px 2px 1px rgba(0, 0, 0, 0.25);
				border:1px solid darkbrown;
			}
		}
		.beer_information {
			margin:0px 7px;
			img {
				margin:0px -3px 7px;
			}
		}
		.span1 {
			margin:270px 0px 0px 0px;
			a {
				font-size:16px;
			}
		}
	}
	.carousel-inner {
		background:-webkit-linear-gradient(bottom, #1f1f1f, #272829);
		background:-moz-linear-gradient(top, #1f1f1f, #272829);
		background:-ms-linear-gradient(top, #1f1f1f, #272829);
		background:-o-linear-gradient(top, #1f1f1f, #272829);
		background:-linear-gradient(top, #1f1f1f, #272829);
		border-radius:8px;
	}
	.grey {
		color:#a9a9a9;
		font-weight:normal;
	}
}

/*@media screen and (max-width: 500px){
	nav{
		display: none;
	}
	.navbar {
		display: none;
	}
	header {
		display: none;
	}
	footer {
		display: none;
	}
}	*/

	
