<h2>Update Your Account</h2>
<div class='left'>
	<form/>
		<div class='fields'>
		<label>First Name</label>
		<input value='Stella'/></input>
		<label>Last Name</label>
		<input value='Fayman'/></input>
		<label>E-mail Address</label>
		<input value='startupstella@gmail.com'/></input>
		<label>Password</label>
		<input value='foobar' type='password'/></input>
		<label>Confirm Password</label>
		<input value='foobar' type='password'/></input>
		</div>
		<br/>
		<input type='submit' value='Update' class='button'></input>
	</form>
</div>
<div class='right'>
	<img alt="Stella" src="/assets/three_champion.jpg" width="400" class='photo'/></a>
</div>