<div class='row'>
	<div class='span6'>
		<div class='pull-left'>
			<h1>Join BeerOn!</h1>
			<br/>
			<h3>BeerOn Members can:</h3>
			<br/>
			<li>Receive more personalized recommendations.</li>
			<li>Rate the beers they've tried.</li>
			<li>Share which beers they're drinking with friends.</li>
			<br/>
			<h2>Sign Up</h2>
			<%= render 'members/form' %>		
		</div>
	</div>
</div>
