<div class='left'>
	<h2>Welcome to BeerOn!</h2>
	<h3>BeerOn Members can:</h3>
	<li>Get more personalized recommendations</li>
	<li>Rate beers they've tried.</li>
	<li>Share what beers they're drinking with friends.</li>
</div>
<div class='right'>
	<h2>Join BeerOn</h2>
	<form>
		<div class='fields'>
			<label>First Name</label>
			<input></input>
			<label>Last Name</label>
			<input></input>
			<label>E-mail</label>
			<input></input>
			<label>Password</label>
			<input type='password'></input>
			<label>Confirm Password</label>
			<input type='password'></input>
		</div>
		<br/>
		<input type='submit' class='button' value='Sign up!'></input>
	</form>
	<p>
		Already a member?
		<a href='#'>
			Sign in!
		</a>
	</p>
</div>