<div class='row'>
	<div class='span6'>
		<div class='pull-left'>
			<h1>Join BeerOn!</h1>
			<br/>
			<h3>BeerOn Members can:</h3>
			<br/>
			<li>Rate the beers they've tried.</li>
			<li>Keep track of their beer history.</li>
			<br/>
			<h2>Sign Up</h2>
			<%= render 'members/form' %>		
		</div>
	</div>
</div>
